
# Data manipulation libraries
pandas==2.1.0
numpy==1.25.2

# Statistics libraries
scipy==1.11.2
statsmodels==0.14.0

# Machine Learning
scikit-learn==1.3.0

# Visualization libraries
matplotlib==3.8.0
seaborn==0.12.2
plotly==5.16.1

# Additional useful libraries
jupyter==1.0.0    # For working in Jupyter notebooks
